:root {
    --dark1: #212121;
    --dark2: #303030;

    --canvasbg: rgb(138, 138, 138);

    --text: #ffffff;   
}

*{
    color: var(--text);
    /* z-index: 0; */
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Tiny5", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow:hidden;
    
}

.ui-main{
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
}
.main-box{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:95vh;
}
.left-box{
    display: flex;
    flex-direction: column;
}
.right-box{
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-width: 100%;
    background-color: var(--dark1);
    padding: 20px;
    z-index: 1;
}
.editor-main{
    display: flex;
    flex-direction: row;
}
.top-box{
    display: flex;
    flex-direction: row;
    background-color: var(--dark1);
    height: 5vh;
    max-height: 5vh;
    z-index: 1;
}
.toolbar{
    display: flex;
    flex-direction: column;
    background-color: var(--dark1);
    width: 5vmax;
    z-index: 1;
}
.tool{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--dark1);
    color: var(--text);
}
.tool:hover{
    background-color: var(--dark2);
}
/* .tool:focus{
    background-color: var(--dark2);
} */

.tool-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#render-window{
    overflow: auto;
    width: 60vw;
    height: 70vh;
    max-width: 100%;
    /* max-height: 100%; */
    /* width: 75vmax;
    height: 50vmin; */
    background-color: var(--canvasbg);
    cursor: crosshair;    
}
#canvas-container{
    position: absolute;
    display: grid;
    /* grid-gap: 0px; */
    grid-template-columns: repeat(64, 2px);
    background-image: url("img/img-editor/png.png");
    /* image-rendering: optimizeSpeed; */
    image-rendering: pixelated;  
}
.pixel{
    background-color: #ffffff00;
    width: 2px;
    height: 2px;
    min-height: 2px;
    min-width: 2px;
    max-height: 2px;
    max-width: 2px;
    aspect-ratio: 1 / 1;
    padding:0;
    margin:0;
    z-index: 0;
}

.frame-box{
    display: flex;
    flex-direction: column;
    background-color: var(--dark1);
    height: 25vh;
    /* max-height: 25vh; */
    /* max-width: 800px; */
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    z-index: 1;
}
.layer-box{
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
    width: 100%;
    height: 50%;
    max-height:50vmin;
    
}
.color-box{
    background-color: var(--dark2);
    width: 100%;
    height: 50%;
}

#renderer{
    height: 75vmin;
    max-height: 75vmin;
    width: 60vmax;
}

.picker{
    background: #000000;
}

.color-ui{
    display: flex;
    flex-direction: row;
}
.color-selected{
    display: flex;
    flex-direction: column;
}
.color{
    width: 20px;
    height: 20px;
    background-color: green;
    border: 2px solid white;
}
.color-selection{
    width: 20px;
    height: 20px;
    background-color: black;
    border: 2px solid #aaaaaa;
}
#primColor{
    background-color: black;
    border: 2px solid #ffffff;
}
#secColor{
    background-color: #ffffff;
}

#preview{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    background-color: #00ff6e;
}
.add{
    background-color: #ffffff00;
    border-radius: 5px;
}
.add:hover{
    background-color: var(-dark2);
}

.layer-container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.layer{
    border: 2px solid #000000;
    display: flex;
    justify-content: row;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #888;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    scrollbar-shadow-color: #aaa;
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.thumbnail-div{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    /* background-color: #fff; */
    background-image: url('img/img-editor/png.png');
    image-rendering: pixelated;
}
.layer-thumbnail{
    image-rendering: pixelated;
}
.layer-name{
    background-color: #00000000;
    border: none;
    font-family: 'Raleway', sans-serif;
    height: 20px;
}
.visibility{
    background-color: #00000000;
    border:none;
    width: 30px;
}
.visibilityicon:hover{
    color: #bbb;
}

.frame-container{
    overflow: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--dark2);
    width: 100%;
}
.frame{
    border: 2px solid #000;
    width: 30px;
    height: 50px;
}
.frame-num-container{
    display: flex;
    flex-direction: row;
}
.frame-num-box{
    width: 30px;
    height: 20px;
    border: 2px solid #000;
}
.frame-scroll{
    overflow-x: auto;
}

#testcanvas{
    background-color: green;
    width: 64px;
    height: 64px;
}

.export{
    background-color: var(--dark2);
}

.logo{
    max-height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    image-rendering: pixelated; 
}

#fps{
    background-color:  var(--dark1);
    max-width: 20px;
}

#fps::-webkit-outer-spin-button,
#fps::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.dimInput{
    background-color:  var(--dark1);
    width: 50px;
}

.white-text{
    color: #fff;
}

.mobilePopup{
    display: none;
    position: absolute;
    top: 25vh;
    left: 25vw;
    background-color: #000000;
    width: 50vw;
    height: 50vh;
    padding: 10px;
}

.mobilePopupBG{
    display: none;
    position: absolute;
    background-color: #00000081;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}



.topButton{
    background-color: var(--dark1);
    border: none;
    height: 100%;
    font-size: 16px;
    font-family: "Tiny5", sans-serif;

}
.topButton:hover{
    background-color: var(--dark2);
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark1);
    font-size: 15px;
    margin: 5px;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--text);
    padding: 5px ;
    text-decoration: none;
    display: block;
    width: auto;
    min-width: 100px;
    white-space: nowrap;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--dark2);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

.menupopup{
    display: none;
    position: absolute;
    background-color: var(--dark2);
    left: 15vw;
    top: 15vh;
    color: var(--text);
    width: 30vw;
    height: 30vh;
    z-index: 1000;
    font-size: 15px;
    button{
        background-color: var(--dark1);
    }
}
.popupheader{
    background-color: var(--dark1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.popupcontent{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.xbutton{
    background-color: #00000000;
    border: none;
}